<template>
 <div class="cart_item">
    <img  class="cart_item__img" src="../assets/logo.png" alt="img" />
   <div class="cart_item__info">
     <p>{{cart_item_data.name}}</p>
     <p>{{cart_item_data.price}} Р</p>
     <p class="cart_item_weight">{{cart_item_data.weight}} г</p>
     <p class="cart_item_count">{{cart_item_data.count}} шт</p>
   </div>
   <div class="cart_item__quantity"></div>
   <button
   @click="deleteToCart"
   >Удалить
   </button>
 </div>
</template>

<script>


export default {
  name: "cart-item",
  props: {
    cart_item_data: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  mounted() {

  },
  methods: {
    deleteToCart() {
      this.$emit('deleteToCart',this.product)
    },
  }

}

</script>

<style>
  .cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 0 8px 0 #e0e0e0;
    padding: 16px;
    margin-bottom: 16px;
  }
  .cart_item__img {
    max-width: 50px;

  }

</style>