<template>
  <div class="catalog_item">
    <img  class="catalog_item_img" src="../assets/logo.png" alt="img" />
    <h1 class="catalog_item_name">{{product.name}}</h1>
    <p class="catalog_item_description">{{product.description}}</p>
    <p class="catalog_item_price">{{ product.price}} Р</p>
    <p class="catalog_item_weight">{{product.weight}} г</p>
    <button
        class="button_catalog_item"
        @click="addToCart"
    >Корзина
    </button>
  </div>
</template>

<script>

export default {
  name: "catalog_item",
  props: {
    product: {
      type: Object,
      default() {
        return null;
      }
    },
  },
  methods: {
    addToCart() {
      this.$emit('addToCart',this.product)
    },
  },

}
</script>

<style>
.catalog_item {
  flex-basis: 25%;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: 16px;
  margin-bottom: 16px;
  justify-content: center;
  text-align: center;

}
.catalog_item_img {
  width: 100px;
}
.button_catalog_item {
  border-radius: 5px;
}

.catalog_item_name {
  font-size: 110%;
}


</style>