<template>
 <div class="main-wrapper">
     <router-view></router-view>
 </div>
</template>

<script>

export default {
  name: "main_wrapper",
}
</script>

<style>
.main-wrapper {
  margin: 0 auto;
  max-width: 900px;
}


</style>