<template>
  <div class="v_catalog">
    <router-link :to="{name: 'cart'}">
      <div class="v_catalog__link-to-cart">
        Корзина: {{ CART.length }}
      </div>
    </router-link>
    <div class="v_catalog__list">
      <CatalogItem
      v-for="product in getProducts"
      :key="product._jv.id"
      :product="product"
      @addToCart="addToCart"
      />
    </div>
  </div>
</template>

<script>
import CatalogItem from "@/components/catalog_item";
import {mapActions, mapGetters} from 'vuex'

export default {
  name: "v_catalog",
  components: {
    CatalogItem
  },
  props: {

  },
  computed: {
    getProducts: function() {
      return this.$store.getters['jv/get']('products')
    },
    ...mapGetters([
      'CART'
    ]),
  },
  methods: {
    ...mapActions([
      'ADD_TO_CART',
      'INCREMENT_PRODUCT_COUNT_IN_CART',
    ]),
    ...mapGetters([
      'GET_PRODUCT_COUNT_IN_CART',
    ]),

    apiGetProducts: function () {
      this.$store.dispatch('jv/get', '/api/v1/products')
    },

    fillImages: function () {
      console.log(this.getProducts)
    },

    addToCart(data) {
      const count = this.GET_PRODUCT_COUNT_IN_CART();
      if (count(data) < 1) {
        this.ADD_TO_CART(data)

        return
      }

      this.INCREMENT_PRODUCT_COUNT_IN_CART(data)
    },

  },
  mounted() {
    this.apiGetProducts()
    this.fillImages()
  },
}
</script>

<style>
.v_catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
.v_catalog__link-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 16px;
  border: solid 1px var(--color-orange);
}

</style>