<template>
 <div class="v_cart">
   <router-link :to="{name: 'catalog'}">
     <div class="v_catalog__link-to-cart">
       Вернуться в каталог
     </div>
   </router-link>
   <h1>Корзина</h1>
   <p v-if="!getCart.length">Нет продуктов в корзине</p>
    <CartItem
        v-for="item in getCart"
        :key="item.id"
        :cart_item_data="item"
        @deleteToCart="deleteToCart(item)"

    />
 </div>
</template>

<script>
import CartItem from "@/components/cart-item"
import {mapActions, mapGetters} from "vuex";

export default {
  name: "v_cart",
  components: {
    CartItem
  },
  computed: {
  },
  methods: {
    ...mapActions([
      'DELETE_FROM_CART',
      'DECREMENT_PRODUCT_COUNT_IN_CART'
    ]),
    ...mapGetters([
      'GET_PRODUCT_COUNT_IN_CART',
      'CART',
    ]),
    deleteToCart(data) {
      const count = this.GET_PRODUCT_COUNT_IN_CART();
      if (count(data) > 1) {
        this.DECREMENT_PRODUCT_COUNT_IN_CART(data)

        return
      }

      this.DELETE_FROM_CART(data)
    },
    getCart() {
      return this.CART
    },
  }
}
</script>

<style>
.v_cart{
}
</style>