:root {
    --color-black:          #000000;
    --color-white:          #FFFFFF;
    --color-orange:         #FFA500;
    --color-orange-light:   #FFB037;
    --color-red:            #FF0000;
    --color-red-light:      #FF3232;
    --color-green:          #45CC63;
    --color-green-light:    #4CC15C;
    --color-grey:           #E3E3E3;
    --color-light-blue:     #00B4BF;


    --animation-speed:      .3s;
    --animation-func:       ease;
    --animation:            var(--animation-speed) var(--animation-func);
}

body {
    margin: 0;
}





