<template>
  <div class="container-app">
    <h2>Stock App</h2>
    <MainWrapper />
  </div>
</template>

<script>
import MainWrapper from './components/main_wrapper.vue'

export default {
  name: 'App',
  components: {
    MainWrapper
  }
}
</script>

<style>

</style>
